body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.493), rgba(0, 0, 0, 0.418)) , url(./image/login-bg.jpeg);
    height: 100vh;
}

.login-top{
    width: 100vw;
    height: 60px;
    background-color: rgba(0, 0, 0, 0);
    padding:0px 20px ;
    display: flex;
    align-items: center;
    
}
.login-top img{
    width: 150px;
}
.login-box{
    background-color: rgba(0, 0, 0, 0.856);
    width: 420px;
    height: 570px;
    border-radius: 5px;
    padding: 50px;
}
.small-text{
    font-size: 13px;
}
.form-control{
    box-shadow: none !important;
}